version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: care-sale-next
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      #EVNS
    restart: unless-stopped
