@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CaesarDressing';
  src: url('/fonts/CaesarDressing/CaesarDressing.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-x: hidden;
}
